[submodule "inih"]
	path = inih
	url = https://github.com/Blandinium/inih.git
[submodule "gleq"]
	path = gleq
	url = https://github.com/glfw/gleq.git
[submodule "nuklear"]
	path = nuklear
	url = https://github.com/vurtun/nuklear.git
[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw
